<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    {% include 'header.html' %}

<body>
    <p>hello world</p>
    <br>
    <b>hello world</b>
    <br>
    <i>hello world</i>
    <br>
    <tt>hello world</tt>
    <br>
    <img src="https://static.tildacdn.com/tild6239-3633-4531-b138-303335303531/ELf2PnmXkAAIWOt.jpg" alt="lamborgini aventador"
    height="400px"
    width="600px">
</body>
</html>